

@media screen and (max-width: 500px) {

  /* ベース・レイアウトの設定 */
  .container {
    padding: 0 16px;
  }

  .step1 {
    padding: 24px 0;
  }

  .step2 .direction p {
    font-size: 16px;
  }

  .all {
    flex-direction: column;
  }

  .column2 {
    flex-direction: row-reverse;
  }

  .result {
    flex-direction: column;
  }

  .column1 {
    margin: 0;
  }


/* ---------------------------------------- */

  /* 入力欄をパーセンテージで指定 */
  .step1 input:first-child,
  .step3 input:first-child {
    width: 50%;
  }

  .step1 input:nth-child(2),
  .step3 input:nth-child(2) {
    width: 25%;
  }

  .step1 input:nth-child(3),
  .step3 input:nth-child(3) {
    width: 25%;
  }

  .step2 input {
    width: 60px;
    height: 35px;
    padding: 4px 6px;
    font-size: 14px;
  }

  .step2 .btn {
    width: 56px;
    height: 35px;
    line-height: 30px;
    padding: 4px;
    font-size: 16px;
    margin-top: 8px;
    box-shadow: 0 6px 0 0 orange;
    box-sizing: content-box;
  }

  .arrow {
    text-align: center;
    padding: 0;
  }


/* ---------------------------------------- */

  /* ヒントの位置微調整 */
  .hint {
    margin: 6px 0 0 0;
    text-align: right;
  }

  /* ふきだしの位置を右側に & 位置調整 */
  .balloon2-top:before {
    left: 70%;
  }

  .balloon2-top:after {
    left: 70%;
  }

  .balloon {
    margin: 0;
  }

}
